-- ============================================
-- Script para adicionar UNIQUE constraint no borderô
-- Execute este script manualmente no MySQL
-- ============================================

-- 1. VERIFICAR duplicatas existentes em tb_pagamentoi
SELECT borderoux, COUNT(*) as qtd 
FROM tb_pagamentoi 
WHERE borderoux IS NOT NULL AND borderoux != '' 
GROUP BY borderoux 
HAVING qtd > 1;

-- 2. VERIFICAR duplicatas existentes em tb_pagamentos
SELECT n_Bordoro, COUNT(*) as qtd 
FROM tb_pagamentos 
WHERE n_Bordoro IS NOT NULL AND n_Bordoro != '' 
GROUP BY n_Bordoro 
HAVING qtd > 1;

-- 3. Se houver duplicatas, você pode atualizar manualmente ou usar este script
-- para adicionar sufixo às duplicatas (CUIDADO: faça backup antes!)
-- 
-- Exemplo para corrigir duplicatas em tb_pagamentoi:
-- UPDATE tb_pagamentoi t1
-- JOIN (
--     SELECT codigo, borderoux, 
--            ROW_NUMBER() OVER (PARTITION BY borderoux ORDER BY codigo) as rn
--     FROM tb_pagamentoi
--     WHERE borderoux IS NOT NULL AND borderoux != ''
-- ) t2 ON t1.codigo = t2.codigo
-- SET t1.borderoux = CONCAT(t1.borderoux, '_DUP_', t2.rn)
-- WHERE t2.rn > 1;

-- 4. Adicionar constraint UNIQUE em tb_pagamentoi
-- (Só execute DEPOIS de resolver as duplicatas)
-- ALTER TABLE tb_pagamentoi ADD CONSTRAINT UK_borderoux UNIQUE (borderoux);

-- 5. Adicionar constraint UNIQUE em tb_pagamentos  
-- (Só execute DEPOIS de resolver as duplicatas)
-- ALTER TABLE tb_pagamentos ADD CONSTRAINT UK_n_bordoro UNIQUE (n_Bordoro);

-- ============================================
-- NOTA: Se preferir não usar UNIQUE constraint,
-- a validação no código já previne duplicatas
-- ============================================
